// Mixins for nav styling

.nav-container-style(){
    width: 50%; 
    padding: 1%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.nav-menu-style(){
    width: 100%; 
    padding-top: 2%; 
    display: flex; 
    justify-content: space-around; 
    font-style: @nav-font; 
    color: @ebony-clay; 
}